version: '3.8'

services:
  mongo:
    image: mongo:6
    container_name: michicode-mongo
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
      MONGO_INITDB_DATABASE: ${MONGO_INITDB_DATABASE}
    volumes:
      - mongo-data:/data/db

  backend:
    image: ${DOCKER_USER}/michicode-backend:latest 
    container_name: michicode-backend
    restart: always
    ports:
      - "5000:5000"
    environment:
      PORT: 5000
      MONGODB_URI: mongodb://${DB_USER}:${DB_PASSWORD}@mongo:27017/michicode?authSource=admin
      BASE_URL: http://${EC2_HOST_DNS}:5000
    depends_on:
      - mongo

  frontend:
    image: ${DOCKER_USER}/michicode-frontend:latest 
    container_name: michicode-frontend
    restart: always
    ports:
      - "80:80"
    depends_on:
      - backend

  prometheus:
    image: prom/prometheus:latest
    container_name: michicode-prometheus
    restart: always
    volumes:
      - ./monitoring/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"

  node-exporter:
    image: prom/node-exporter:latest
    container_name: michicode-node-exporter
    restart: always
    ports:
      - "9100:9100"

  grafana:
    image: grafana/grafana-oss:latest
    container_name: michicode-grafana
    restart: always
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    volumes:
      - grafana-data:/var/lib/grafana

volumes:
  mongo-data:
  grafana-data: