version: '3.8'

services:
  mongo:
    image: mongo:6
    container_name: michicode-mongo
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
      MONGO_INITDB_DATABASE: ${MONGO_INITDB_DATABASE}
    volumes:
      - mongo-data:/data/db

  backend:
    image: ${DOCKER_USER}/michicode-backend:latest 
    container_name: michicode-backend
    restart: always
    ports:
      - "5000:5000"
    environment:
      PORT: 5000
      MONGODB_URI: mongodb://${DB_USER}:${DB_PASSWORD}@mongo:27017/michicode?authSource=admin
      BASE_URL: http://${EC2_HOST_DNS}:5000
    depends_on:
      - mongo

  frontend:
    image: ${DOCKER_USER}/michicode-frontend:latest 
    container_name: michicode-frontend
    restart: always
    ports:
      - "80:80"
    depends_on:
      - backend

volumes:
  mongo-data: