global:
  scrape_interval: 15s
  evaluation_interval: 15s
  external_labels:
    monitor: 'casa-cambios-monitor'

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']
        labels:
          service: 'prometheus'

  - job_name: 'node-exporter'
    static_configs:
      - targets: ['node-exporter:9100']
        labels:
          service: 'ec2-instance'
          instance: 'devops-casa-cambios'

  - job_name: 'cadvisor'
    static_configs:
      - targets: ['cadvisor:8080']
        labels:
          service: 'docker-containers'

  - job_name: 'backend'
    static_configs:
      - targets: ['backend:3000']
        labels:
          service: 'backend-api'
    metrics_path: '/metrics'

  - job_name: 'grafana'
    static_configs:
      - targets: ['grafana:3000']
        labels:
          service: 'grafana'

  - job_name: 'loki'
    static_configs:
      - targets: ['loki:3100']
        labels:
          service: 'loki'