name: CI/CD MichiCode - Primer Parcial

on:
  push:
    branches: [ main ]

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Backend Build
        run: |
          cd backend
          npm ci
          npm run build

      - name: Frontend Build
        run: |
          cd ../frontend
          npm ci
          npm run build

      - name: Deploy a las 3 EC2
        env:
          KEY_BACKEND: ${{ secrets.SSH_KEY_BACKEND }}
          KEY_FRONTEND: ${{ secrets.SSH_KEY_FRONTEND }}
          KEY_MONGO: ${{ secrets.SSH_KEY_MONGO }}
        run: |
          echo "$KEY_BACKEND" > key1.pem && chmod 400 key1.pem
          echo "$KEY_FRONTEND" > key2.pem && chmod 400 key2.pem
          echo "$KEY_MONGO" > key3.pem && chmod 400 key3.pem

          # Backend
          rsync -avz -e "ssh -i key1.pem -o StrictHostKeyChecking=no" backend/dist/ ec2-user@50.18.82.67:~/app/
          ssh -i key1.pem ec2-user@50.18.82.67 "pkill node || true; cd ~/app && nohup node dist/server.js > log.txt 2>&1 &"

          # Frontend
          rsync -avz -e "ssh -i key2.pem -o StrictHostKeyChecking=no" frontend/build/ ec2-user@52.53.220.30:/usr/share/nginx/html/
          ssh -i key2.pem ec2-user@52.53.220.30 "sudo systemctl reload nginx"

          # MongoDB + backup
          ssh -i key3.pem ubuntu@54.177.204.192 "cd ~/MichiCode/database && docker compose restart && ./backup.sh"

          echo "¡DESPLIEGUE AUTOMÁTICO COMPLETADO!"